/* Base Style */
*{
    box-sizing: border-box;
}
body{font-family: 'Lato', sans-serif; font-size: 16px; background-color:rgb(31, 30, 30);}

a{font-family: "Times New Roman", Times, serif; text-decoration: none;}

h1, h2, p{color: white; padding-bottom: 25px;}

.big-text{font-size: 70px; font-weight: 900;}
.poster-text h1{
    font-family: 'ZCOOL KuaiLe', cursive;
}
.med-text{font-size: 45px;}
.normal-text{font-size: 20px;}
.small-text{font-size: 14px;}

*{box-sizing: border-box;}


@media (max-width: 768px){
    .big-text{font-size: 40px;}
}

.button{
    display: inline-block; 
    border-radius: 100%;
}
.button:hover{
    transform:translate(3.1)
}

.col{
    width: 100%;
}

img.logo{
    transition: 0.2s;
}
img.logo:hover{
    transform: scale(1.05);
}


/* Header */

.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 30px;
    display: flex;
    max-width: 1350px;
}

.logo{z-index: 1;}

.menu{
    width: 100%;
    z-index: 0;
    transition: all 1s cubic-bezier(.235, .61, .355, 1)
}

.menu li{display: inline-block;}
.menu li a{color: white; padding: 15px; display: block;}

.cta{}

.hamburger{display:none}


@media (max-width: 768px){
    .cta{display: none;}

    .header{
        padding: 20px 20px;
    }
    .menu{
        position: absolute;
        top: 0;
        right: -100%;
        height: 100vh;
        background: black;
        padding-top: 80px;
        transition: 0.5s;

    }

    .menu li{display: block;}
    .menu li a{padding: 15px 30px; font-size: 20px;}

    .menu--open{
        right: 0;
        transition: 0.5s;
    }

    .hamburger{
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 40px;
        right: 50px;
    }
    .hamburger span{background: #fff; height: 3px; width: 100%; display: block; margin-bottom: 5px;}
}
/* Hero */

.hero{
    height:500px;
    display:flex;
    width: 100%;
    background: linear-gradient(0deg,  rgba(54, 52, 52, 0.2), rgba(0,0,0,0.9)), url('immagini/stadio.png') no-repeat center center;
    background-size: cover;
}

.hero_fut{
    height: 960px;
    display:flex;
    width: 100%;
    background: linear-gradient(0deg,  rgba(54, 52, 52, 0.2), rgba(0,0,0,0.9)), url('immagini/sfondoviola.png') no-repeat center center;
    background-size: cover;
}

.hero_fut-text{
    padding-top: 350px;
    padding-left: 150px;
}
.hero_fut-text h1{
    font-family: 'ZCOOL KuaiLe', cursive;
}
.hero_fut-text p{
    font-size: 30px;
}

.hero_fut-image{
    padding-top: 250px;
    padding-left: 80px;
}

@media (max-width:768px){
    .hero_fut-image{display: none;}

    .hero_fut-text{
        padding-top: 150px;
        padding-left: 50px;
    }
}


/* Poster */
.poster{
    display: flex;
    width: 100%;
    padding-top: 80px;
}
.poster p{
    font-size: large;
}
.poster-text{
    padding-left: 50px;
    margin-right: 100px;
}

.poster-image{
    padding-left: 100px;
}


@media(max-width: 768px){
    .poster-image{
        display: none;
    }
    .poster{
        padding-top: 30px;
    }
}

/* Carousel */

.main-carousel{padding: 150px 0;}

.carousel-cell{
    height: 600px; 
    width: 600px;
    line-height: 600px;
    text-align: center;
    margin-right: 40px;
}

#fut{
    background: url('immagini/fut.jpg') center;
}

#carriera{
    background: url('immagini/vandevoordt.jpg') center;
}
#proclub{
    background: url('immagini/pro-club.jpeg') center;

}

@media (max-width: 768px){
    .carousel-cell{
        width: 100%;
        height: 450px;
    }
}


/* Quadrati */
.quadrati{
    padding: 40px 150px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.quadrati .col{
    height: 450px;
    width: 30%;
    margin: 10px;
    border: solid 1px red;
    background: url('immagini/sfondonero.jpg') center;
}

.quadrati .col:hover{
    width: 30%;
    margin: 10px;
    border: solid 1px red;
    background: linear-gradient(0deg,  rgba(54, 52, 52, 0.2), rgba(0,0,0,0.9)), url('immagini/sfondonero.jpg') center;
}

.quadrati .col > img{
    width: 60%;
    height: auto;
    margin: 10% 20%;
    float:none;
}

.quadrati .col > .text{
    height: 450px;
    padding-top: 150px;
    display: none;
    text-align: center;
}

.quadrati .col .text h1{
    font-weight: 700;
    padding-bottom: 10px;
}

.quadrati .col .text p{
    font-size: 22px;
}

.quadrati .col:hover > img{display: none;}
.quadrati .col:hover > .text{display: block;}

@media (max-width: 1400px){
    
    .quadrati .col{
        width: 45%;
    }

    .quadrati .col:hover{
        width: 45%;
    }
    .quadrati .col > .text{
        padding-top: 120px;
        display: none;
        text-align: center;
    }
}

@media (max-width:1100px){
    .quadrati{
        display: block;
        padding: 40px 0;
        padding-left: 25%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .quadrati .col{
        width: 500px;
        height: 500px;
    }

    .quadrati .col:hover{
        width: 500px;
        height: 500px;
    }

    .hero_fut-image{display: none;}

    .hero_fut-text{
        padding-top: 150px;
        padding-left: 50px;
    }

}

@media (max-width: 768px){

    .quadrati{
        display: block;
        padding: 40px 0;
        padding-left: 17%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .quadrati .col{
        width: 220px;
        height: 220px;
    }

    .quadrati .col:hover{
        width: 220px;
        height: 220px;
    }

    .quadrati .col > .text{
        transform: scale(0.60) translate(0, -230px);
    }

    #rb{transform: translate(-45px);}
    #champions{transform: translate(-20px);}

}


/* Founders */
.box{
    display: flex;
    width: 100%;
    padding-top: 80px;
}
.box h1{
    color: black;
    font-size: 70px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.founders-text{
    width:50%;
    padding-left: 2%;
}
.founders-text p{
    font-size: large;
}
.transizione{
    height: 0.5vh;
    background: linear-gradient(0deg,  rgb(0, 0, 0), rgba(0,0,0,0.9)), url('immagini/sfondoonero.jpg') center;
}
.box-grande{
    background: linear-gradient(0deg,  rgba(54, 52, 52, 0.2), rgba(0,0,0,0.9)), url('immagini/sfondo-1.jpg') center;
}
.boxtex > img{
padding-left: 20%;
}

/* Carriera */
.carriera{
    display: flex;
    padding-top: 80px;
    padding-left: 2%;
    width:100%;
    height: 80vh;
}
.carriera-big-text{
    font-family: 'Varela Round', sans-serif;
    font-size: xx-large;
}
.carriera-big-text p{
    color: black;
    font-family: 'ZCOOL KuaiLe', cursive;
}
.carriera-small-text p{
    font-size: 20px;
}
.carriera-text{
    width: 50%;
    animation: backInLeft; 
    animation-duration: 2s;
}
.carriera-video{
    width: 50%;
    z-index: 0;
    animation: backInRight; 
    animation-duration: 2s;
}
.video{
    height: 350px;
}

.carriera-1{
    padding-left: 2%;
    width:100%;
    height: 200vh;
}
.carriera1-1{
    display:flex;
    width:100%;
}
.carriera1-text h1{
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: xx-large;
    color: black;
}
.carriera1-text p{
    font-size: 20px;
}
.carriera1-text{
    width: 50%;
    animation: backInLeft; 
    animation-duration: 2s;
    margin-right: 15px;
}
.carriera1-img{
    width: 50%;
    animation: backInRight; 
    animation-duration: 2s;
}
.carriera2{
    display:flex;
    margin-top: 20px;
}
.carriera2-text{
    padding-left: 20px;
    animation: backInRight; 
    animation-duration: 2s;
}
.carriera2-text h1{
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: xx-large;
    color: black;
}
.carriera2-text p{
    font-size: 20px;
}
.carriera2-img{
    width: 50%;
    animation: backInLeft; 
    animation-duration: 2s;
}
.carrieratot{
    width: 100%;
    background: url('immagini/sfondo-giallo.jpg') center;
}

@media(max-width:960px){
    .carriera2-text{
        width: 30%;
        transform: translate(30%);
    }
}

@media (max-width: 768px){

    .carriera{
        display: block;
        padding: 40px 0;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        height: auto;
    }

    .carriera-text{
        width: 100%;
    }

    .carriera-1{
        background-size: cover;
        display: block;
        padding: 40px 0;
        flex-wrap: wrap;
        justify-content: center;
        transform: translateY(-120px);
    }

    .carriera1-text{
        transform: scale(0.85) translate(-7%);
        width: 100%;
    }

    .carriera1-img{
        transform: scale(0.5) translate(-45%, -70%);
        padding-top: 60px;
    }

    .carriera-video{
        height: fit-content;
        width: fit-content;
        margin:0;
        transform: scale(0.50) translate(-48%, -20%);
        z-index: 0;
    }
    .carriera1-1{
        display: block;
        padding: 40px 0;
        padding-left: 3%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .carriera2{
        display: block;
        padding: 40px 0;
        padding-left: 3%;
        flex-wrap: wrap;
        justify-content: center;
        transform: translateY(-130px);
        height: 710px;
    }
    .carriera2-text{
        transform: scale(0.85) translate(-7%, -250px);
        width: 100%;
        padding: 0;
    }

    .carriera2-img{
        transform: scale(0.6) translate(-30%, -80%);
    }
}