/* Base Style */
body{font-family: 'Lato', sans-serif; font-size: 16px; background-color:rgb(31, 30, 30);}

a{font-family: "Times New Roman", Times, serif; text-decoration: none;}

h1, h2, p{color: white; padding-bottom: 25px;}

.big-text{font-size: 70px; font-weight: 900;}
.med-text{font-size: 45px;}
.normal-text{font-size: 20px;}
.small-text{font-size: 14px;}


.button{padding: 18px 28px; background: #1b79f3; color: #fff; display: inline-block; border-radius: 6px;}

.col{
    width: 100%;
}



/* Header */

.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 30px;
    display: flex;
    max-width: 1350px;
}

.logo{z-index: 1;}

.menu{
    width: 100%;
    z-index: 0;
}

.menu li{display: inline-block;}
.menu li a{color: white; padding: 15px; display: block;}

.cta{}

.hamburger{display:none}


@media (max-width: 768px){
    .cta{display: none;}

    .header{
        padding: 20px 20px;
    }
    .menu{
        position: absolute;
        top: 0;
        right: -100%;
        height: 100vh;
        background: black;
        padding-top: 80px;
        transition: 0.5s;
    }

    .menu li{display: block;}
    .menu li a{padding: 15px 30px; font-size: 20px;}

    .menu--open{
        right: 0;
        transition: 0.5s;
    }

    .hamburger{
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 40px;
        right: 50px;
    }
    .hamburger span{background: #fff; height: 3px; width: 100%; display: block; margin-bottom: 5px;}
}
/* Hero */

.hero{
    height:500px;
    display:flex;
    width: 100%;
    background: linear-gradient(0deg,  rgba(54, 52, 52, 0.2), rgba(0,0,0,0.9)), url('stadio.png') no-repeat center center;
    background-size: cover;
}

.hero_fut{
    height: 960px;
    display:flex;
    width: 100%;
    background: linear-gradient(0deg,  rgba(54, 52, 52, 0.2), rgba(0,0,0,0.9)), url('sfondoviola.png') no-repeat center center;
    background-size: cover;
}

.hero_fut-text{
    padding-top: 350px;
    padding-left: 150px;
}

.hero_fut-image{
    padding-top: 250px;
    padding-left: 80px;
}


/* Poster */
.poster{
    display: flex;
    width: 100%;
    padding-top: 80px;
}

.poster-text{
    padding-left: 50px;
    margin-right: 100px;
}

.poster-image{
    padding-left: 100px;
}


@media(max-width: 768px){
    .poster-image{
        display: none;
    }
    .poster{
        padding-top: 30px;
    }
}

/* Carousel */

.main-carousel{padding: 150px 0;}

.carousel-cell{
    height: 450px; 
    width: 450px;
    line-height: 450px;
    text-align: center;
    margin-right: 40px;
}

#fut{
    background: url('fut.jpg') center;
}

#carriera{
}

#proclub{

}

@media (max-width: 768px){
    .carousel-cell{
        width: 100%;
    }
}


/* Quadrati */
.quadrati{
    padding: 40px 150px;
    display: flex;
    align-items: center;
}

.quadrati .col{
    height: 500px;
    width: 500px;
    margin: 10px;
    border: solid 1px red;
    background: url('sfondonero.jpg') center;
}

.quadrati .col:hover{
    height: 500px;
    width: 500px;
    margin: 10px;
    border: solid 1px red;
    background: linear-gradient(0deg,  rgba(54, 52, 52, 0.2), rgba(0,0,0,0.9)), url('sfondonero.jpg') center;
}

.quadrati .col > img{
    margin-top: 50px;
    margin-left: 90px;
}

.quadrati .col > .text{
    display: none;
    text-align: center;
    margin-top: 190px;
}

.quadrati .col .text h1{
    font-weight: 700;
    padding-bottom: 10px;
}

.quadrati .col .text p{
    font-size: 22px;
}

.quadrati .col:hover > img{display: none;}
.quadrati .col:hover > .text{display: block;}


/* Founders */
.box{
    display: flex;
    width: 100%;
    padding-top: 80px;
}
.boxtex{
    border: 5px solid black
}

